.wishlist-page-body {
  display: flex;
  height: 16vh;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .6);
  margin-top: 1vh;
}

.wishlist-header > button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.wishlist-header > button:hover {
  color: rgb(223, 36, 36);
}

.wishlist-icon-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100px;
  height: 100%;
  margin-left: 1vh;
}

.wishlist-container {
  display: flex;
  width: 80vw;
  overflow-x: auto;
  margin: 1vh;
  gap: 1vh;
  overflow-y: hidden;
}

.each-wishlist {
  display: flex;
  flex-direction: column;
  height: 13vh;
}

.wishlist-image {
  height: 10vh;
  width: 10vw;
  border-radius: .4rem  ;
}

.wishlist-to-cart {
  background-color: black;
  color: white;
  border: none;
  border-radius: .4rem;
  width: fit-content;
  font-weight: bold;
  width: 10vw;
}

.wishlist-to-cart:hover {
  background-color: rgb(223, 36, 36);
}

.wishlist-remove {
  display: flex;
  position: relative;
  left: -1.2vw;
  top: -10.5vh;
  justify-content: center;
  align-items: center;
  width: 10px;
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: .4rem;
}

.wishlist-remove:hover {
  background-color: rgb(223, 36, 36);
}

.wishlist-remove-image {
  width: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.wishlist-buttons {
  display: flex;
}

.wishlist-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
