.targét-home-container {
  display: flex;
  height: 75vh;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
/* .targét-home-content-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
} */
.targét-home-main-pic {
  width: 100%;
  height: 100%;
}
