.targét-item-container {
  display: flex;
  height: 75vh;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.review-card-container {
  display: flex;
  border: lightgray solid 1px;
  padding: .4rem;
  border-radius: .4rem;
}

.review-image-container {
  display: flex;
  height: 100px;
  width: 100px;
  margin: 0 2vw;
}

.review-content-container {
  display: flex;
  flex-direction: column;
}
