.targét-item-container {
  display: flex;
  height: 75vh;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.review-card-container {
  display: flex;
  border: lightgray solid 1px;
  padding: .4rem;
  border-radius: .4rem;
  flex-direction: column;
}

.review-content-container {
  display: flex;
  flex-direction: column;
}

.review-image {
  width: 70px;
  height: 70px;
}
